<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>todo</title>
  </head>
  <body>
      <h1>My Todo List</h1>
      <form class="input" action="/" method="post">
        <input type="text" name="task" value="" placeholder="task">
        <button type="submit" name="button">submit</button>
      </form>
      <ul>
        {{#task}}
        {{^complete}}
          <li>
            {{task}}
            <a href="/complete/{{id}}">complete</a>
          </li>
          {{/complete}}
        {{/task}}

        <h1>Completed</h1>

        {{#task}}
        {{#complete}}
        <li>
          {{task}}
        <a href="/delete/{{id}}">delete</a>
        </li>

        {{/complete}}
        {{/task}}
      </ul>
  </body>
</html>
